	* {
		box-sizing: border-box;
	}

	body {
		font-family: sans-serif;
	}

	img {
		max-width: 100%;
	}

	main {
		max-width: 980px;
		margin: 40px auto;
		background: #fff;
		padding: 20px;
		overflow: hidden;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	}

	.diagram {
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.diagram div {
		text-align: center;
		width: 50px;
	}

	.diagram span {
		font-size: 10px;
	}
